.App {
  text-align: center;
  background-color: rgb(30, 27, 32);
  color: aliceblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(126, 125, 125);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Bold {
  font-weight: bold;
}
.aqua {
  background-color: aquamarine;
}
.Red {
  background-color: red;
}

.Btn {
  background-color: green;
  font: inherit;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.Btn:hover {
  background-color: black;
  color: white;
}
